/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-image:linear-gradient(to top, rgba(230, 239, 255, 1) , rgba(255, 255, 255, 1));
  display: flex;
  flex-direction: column;
}

.container{
  width:100%;
  display: flex;
}

.titles{
  display: block;
  margin: 0 0 0 10%;
  width: 50%;
}

.tagline{
  color:rgba(59, 61, 63, 1);
  font-weight:light;
  margin-top:2rem;
  width:60%;
}

@media screen and (max-width: 1200px) {
  .tagline{
    font-size:20px;
  }
}

@media screen and (max-width: 1400px) and (min-width:1201px){
  .tagline{
    font-size:22px;
  }
}

@media screen and (max-width: 1700px) and (min-width:1401px) {
  .tagline{
    font-size:24px;
  }
}

@media screen and (max-width: 2500px) and (min-width:1701px) {
  .tagline{
    font-size:28px;
  }
}

.footerTitle{
  display:flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 40%;
  margin-left:-15%
}

.buttons {
  width: 80%;
  display: flex;
  margin-top:10px;
}

.buttons a{
  border-radius:90pt;
  box-shadow:0pt 5pt 6pt 1pt rgba(48, 113, 169, 0.16);
  background-color:white;
  margin-right: 2rem;
  color:rgba(0, 91, 244, 1);
  display:flex;
  border:1px solid rgba(0, 91, 244, 1);
}

.buttons a:first-child {
  background-color:rgba(40, 117, 243, 1);
  box-shadow:0pt 5pt 6pt 1pt rgba(0, 0, 0, 0.16);
  color:white
}

@media screen and (max-width:820px){
  .container{
    flex-direction: column;
  }

  .titles{
    width: 90%;
    margin: 0 0 0 5%;
  }

  .image{
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
  }

  .buttons{
    flex-direction: column;
    width: 90%;
  }

  .buttons a{
    width:12rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
