@keyframes reverse-move {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(-50%,0,0);
    }
}

@keyframes move {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(50%,0,0);
    }
}

.swiperContainer {
    width: 79%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.swiperReverse {
    display: flex;
}

.swiper {
    display: flex;
    flex-direction: row-reverse;
}

.swiperItemContainer {
    width: 200px;
    flex: 0 0 auto;
}

.link {
    margin: 20px 10px;
    height: 100px;
    padding:0 10px;
    border: 1px solid #eaecef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link img {
    max-height: 100%;
    max-width: 100%;
    transition: opacity 0.5s;
}

.swiperTitle {
    display:flex;
    justify-content: center;
    align-items: center;
}
