@keyframes reverse-move {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(-50%,0,0);
    }
}

@keyframes move {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(50%,0,0);
    }
}

.swiperContainer {
    width: 79%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.swiperReverse {
    display: flex;
}

.swiper {
    display: flex;
    flex-direction: row-reverse;
}

.swiperItemContainer {
    width: 200px;
    flex: 0 0 auto;
}

.link {
    margin: 20px 10px;
    height: 100px;
    padding:0 10px;
    border: 1px solid #eaecef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link img {
    max-height: 100%;
    max-width: 100%;
    transition: opacity 0.5s;
}

.swiperTitle {
    display:flex;
    justify-content: center;
    align-items: center;
}

.sliderContainer {
    width: 79%;
    margin: 0 auto 25px;
}

.commentsItemContainer {
    height: 278px;
    display: flex;
    justify-content: space-around;
}

.userContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user {
    font-size: 30px;
    font-style: bold;
    line-height: 40px;
}

.userTitle {
    color: #5f5f5f;
    font-size: 20px;
    line-height: 28px;
}

.userImgContainer {
    margin: 20px 0;
    height: 100px;
    width: 200px;
    border: 1px solid #eaecef;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userImgContainer img {
    max-height: 100%;
    max-width: 100%;
    transition: opacity 0.5s;
}

.userCommentContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerUserCommentContainer {
    position: relative;
}

.userComment {
    max-width: 440px;
    font-size: 18px;
    line-height: 200%;
}

@media (min-width: 600px) and (max-width: 880px) {
    .commentsItemContainer {
        flex-direction: column;
        align-items: center;
    }

    .userContainer {
        width: 400px ;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .user {
        font-size: 20px;
        font-style: bold;
        line-height: 30px;
    }

    .userTitle {
        color: #5f5f5f;
        font-size: 15px;
        line-height: 24px;
    }

    .userImgContainer {
        height: 80px;
        width: 160px;
    }

    .userComment {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .commentsItemContainer {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .userContainer {
        width: 250px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .user {
        font-size: 20px;
        font-style: bold;
        line-height: 30px;
    }

    .userTitle {
        color: #5f5f5f;
        font-size: 15px;
        line-height: 24px;
    }

    .userImgContainer {
        height: 60px;
        width: 120px;
    }

    .userComment {
        font-size: 16px;
        max-width: 250px;
    }
}
