.imgWrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.imgBox{
    width: 200px;
}

.link {
    margin: 20px 10px;
    height: 100px;
    padding:0 10px;
    border: 1px solid #eaecef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgWrapper img {
    max-height: 100%;
    max-width: 100%;
    transition: opacity 0.5s;
}
