.imgWrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.imgBox{
    width: 140px;
}

.link {
    margin: 20px 10px;
    height: 60px;
    padding:0 10px;
    border: 1px solid #eaecef;
    border-radius: 4px;
    box-shadow: #f8f9fa 1px 1px 2px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgWrapper img {
    max-height: 100%;
    max-width: 100%;
    transition: opacity 0.5s;
}
